<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Site Title</li>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <p></p>
    <button (click)="changeState('add')" class="button">Add Business</button>
  </div>
  <div class="large-6 columns">
    <label>
      Filter by category
      <select (change)="filterCategory(filteredCategory.value)" #filteredCategory>
        <option value="0">Select</option>
        <option *ngFor="let cat of categories" value="{{cat.name}}">{{cat.name}}</option>
      </select>
    </label>
  </div>
</div>
<!--Add form-->
<div *ngIf="appState=='add'" class="row">
  <div class="large-12 columns">
    <h3>Add business</h3>
    <form (submit)="addBusiness(
      category.value,
      city.value,
      company.value,
      description.value,
      email.value,
      phone.value,
      state.value,
      zipcode.value
    )">

      <div class="row">
        <div class="large-6 columns">
          <label>
            Company
            <input type="text" placeholder="Company name" #company>
          </label>
        </div>
        <div class="large-6 columns">
          <label>
            Category
            <select #category>
              <option value="0"></option>
              <option *ngFor="let cat of categories" value="{{cat.name}}">{{cat.name}}</option>
            </select>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <label>
            City
            <input type="text" placeholder="Company name" #city>
          </label>
        </div>
        <div class="large-6 columns">
          <label>
            description
            <input type="text" placeholder="Company name" #description>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <label>
            email
            <input type="text" placeholder="Company name" #email>
          </label>
        </div>
        <div class="large-6 columns">
          <label>
            Phone
            <input type="text" placeholder="Company name" #phone>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <label>
            State
            <input type="text" placeholder="Company name" #state>
          </label>
        </div>
        <div class="large-6 columns">
          <label>
            zipcode
            <input type="text" placeholder="Company name" #zipcode>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <input type="submit" class="button" value="Submit">
        </div>
      </div>

    </form>
  </div>
</div>

<!--Edit form-->
<div *ngIf="appState=='edit'" class="row">
  <div class="large-12 columns">
    <h3>Edit business</h3>
    <form (submit)="updateBusiness()">

      <div class="row">
        <div class="large-6 columns">
          <label>
            Company
            <input type="text" [(ngModel)]="active_company" name="active_company" placeholder="Company name">
          </label>
        </div>
        <div class="large-6 columns">
          <label>
            Category
            <select  [(ngModel)]="active_category" name="active_category" >
              <option value="0"></option>
              <option *ngFor="let cat of categories" value="{{cat.name}}">{{cat.name}}</option>
            </select>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <label>
            City
            <input type="text" placeholder="Company name" [(ngModel)]="active_city" name="active_city"  #city>
          </label>
        </div>
        <div class="large-6 columns">
          <label>
            description
            <input type="text" placeholder="Company name"  [(ngModel)]="active_description" name="active_description"  #description>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <label>
            email
            <input type="text" placeholder="Company name" [(ngModel)]="active_email" name="active_email"  #email>
          </label>
        </div>
        <div class="large-6 columns">
          <label>
            Phone
            <input type="text" placeholder="Company name"  [(ngModel)]="active_phone" name="active_phone" #phone>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <label>
            State
            <input type="text" placeholder="Company name" [(ngModel)]="active_state" name="active_state"  #state>
          </label>
        </div>
        <div class="large-6 columns">
          <label>
            zipcode
            <input type="text" placeholder="Company name" [(ngModel)]="active_zipcode" name="active_zipcode"  #zipcode>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <input type="submit" class="button" value="Submit">
        </div>
      </div>

    </form>
  </div>
</div>

<div *ngIf="appState == 'extand'">
  <div class="row">
    <div class="large-12 columns">
      <button (click)="changeState('default')" class="button alert">Go back</button>
    </div>
  </div>


  <div *ngFor="let business of business">
    <div *ngIf="business.$key == activeKey">
      <div class="row">
        <div class="large-5 columns large-offset-1">
            <h3>{{business.company}}</h3>
            <p>Category: {{business.category}}</p>

        </div>

        <div class="large-5 columns large-offset-1">
          <h3>Contact Info</h3>
          <p>Email: {{business.email}}</p>
          <p>Phone: {{business.phone}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div *ngIf="business">
      <table>

        <thead>
          <tr>
            <th>Company</th>
            <th>Category</th>
            <th>phone</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let business of business">
            <td>{{business.company}}</td>
            <td>{{business.category}}</td>
            <td>{{business.phone}}</td>
            <td>
              <button (click)="changeState('extand', business.$key)" class="button">More</button>
              <button (click)="showEdit(business)" class="button secondary">Edit</button>
              <button class="button alert">Delete</button>
            </td>

          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>

