<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Site Title</li>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <p></p>
    <button class="button">Add Business</button>
  </div>
  <div class="large-6 columns">
    <label>
      Filter by category
      <select>
        <option value="0">Select</option>
        <option *ngFor="let cat of categories" value="{{cat.name}}">{{cat.name}}</option>
      </select>
    </label>
  </div>
</div>

<div *ngIf="appState == 'extand'">
  <div class="row">
    <div class="large-12 columns">
      <button (click)="changeState('default')" class="button alert">Go back</button>
    </div>
  </div>


  <div *ngFor="let business of business">
    <div *ngIf="business.$key == activeKey">
      <div class="row">
        <div class="large-5 columns large-offset-1">
            <h3>{{business.company}}</h3>
            <p>Category: {{business.category}}</p>

        </div>

        <div class="large-5 columns large-offset-1">
          <h3>Contact Info</h3>
          <p>Email: {{business.email}}</p>
          <p>Phone: {{business.phone}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div *ngIf="business">
      <table>

        <thead>
          <tr>
            <th>Company</th>
            <th>Category</th>
            <th>phone</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let business of business">
            <td>{{business.company}}</td>
            <td>{{business.category}}</td>
            <td>{{business.phone}}</td>
            <td>
              <button (click)="changeState('extand', business.$key)" class="button">More</button>
              <button class="button secondary">Edit</button>
              <button class="button alert">Delete</button>
            </td>

          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>

