<h1>Searching for musics?</h1>
<p>This is an awesome place for serching music</p>

<form>
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Search Artists..." [(ngModel)]="searchStr" name="searchStr" (keyup)="searchMusic()">
  </div>
</form>

<div *ngIf="searchRes">
  <div *ngFor="let artist of searchRes">
    <div class="row">
      <div class="col-md-12">
        <div class="search-res" style="background-color: #222; padding: 3px; margin: 3px">
          <h3><a routerLink="/artist/{{artist.id}}">{{artist.name}}</a></h3>
          <div>
            <strong>Generes: </strong>
            <span *ngFor="let genre of artist.genres">
              {{genre}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
